/* fundo */
body {
    margin: 0;
    padding: 0;
    background: #16161D;
    font-family: Roboto, sans-serif;
}

/* header */
.topo {
    width: 100%;
    height: 75px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 241px;
    height: 49px;
    object-fit: contain;
}

/* centralização */
.container {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* card */
.card {
    width: 704px;
    padding: 35px 20px;
    background: rgba(0, 0, 0, 0.80);
    border: 6px solid #3C3C3C;
    border-radius: 30px;
    text-align: center;
}

/* título */
.titulo {
    font-family: Montserrat, sans-serif;
    color: #FFF;
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}

/* texto */
.descricao {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    max-width: 515px;
    margin: 0 auto 40px auto;
}

/* inputs */
.grupo {
    text-align: left;
    max-width: 608px;
    margin: 0 auto 30px auto;
}

.grupo label {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.grupo input {
    width: 100%;
    height: 36px;
    background: #FFF;
    border-radius: 50px;
    border: 4px solid #3C3C3C;
    padding: 5px 15px;
    font-size: 16px;
}

/* linha */
.linha {
    width: 100%;
    max-width: 608px;
    height: 5px;
    background: #686868;
    margin: 30px auto;
}

/* botões */
.botoes {
    max-width: 608px;
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: space-between;
}

/* voltar */
.btn-voltar {
    width: 120px;
    height: 55px;
    background: #D9D9D9;
    color: #333;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-voltar:hover {
    opacity: 0.7;
}

/* criar conta */
.btn-criar {
    width: 156px;
    height: 55px;
    background: #00ACEA;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-criar:hover {
    opacity: 0.7;
}

/* responsividade */
@media (max-width: 760px) {
    .card {
        width: 90%;
    }
}
