/* fundo */
body {
    margin: 0;
    padding: 0;
    background: #16161D;
    font-family: Roboto, sans-serif;
}

/* header */
.topo {
    width: 100%;
    height: 75px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 241px;
    height: 49px;
    object-fit: contain;
}

/* centralização do card */
.container {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    width: 600px;
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.80);
    border: 6px solid #3C3C3C;
    border-radius: 30px;
    text-align: center;
}

/* título "Login" */
.titulo {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
}

/* frase */
.descricao {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    width: 90%;
    max-width: 534px;
    margin: 0 auto 40px auto;
}

/* inputs */
.grupo {
    margin-bottom: 30px;
    text-align: left;
    width: 90%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.grupo label {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.grupo input {
    width: 100%;
    height: 36px;
    border-radius: 50px;
    border: 4px solid #3C3C3C;
    background: #FFF;
    padding: 5px 15px;
    font-size: 16px;
}

/* botões */
.botoes {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

/* botão "Voltar" */
.btn-voltar {
    width: 120px;
    height: 55px;
    background: #D9D9D9;
    border: none;
    border-radius: 10px;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-voltar:hover {
    opacity: 0.7;
}

/* botão "Entrar" */
.btn-entrar {
    width: 120px;
    height: 55px;
    background: #00ACEA;
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-entrar:hover {
    opacity: 0.7;
}



/* responsividade */
@media (max-width: 700px) {
    .card {
        width: 90%;
    }
}
